@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background: #10141e;
  color: #fff;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 4px;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 40.32px;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  line-height: 25.2px;
  letter-spacing: -0.31px;
}

h3 {
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
}

h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

p {
  font-size: 11px;
  font-weight: 300;
  line-height: 14px;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2rem;
    line-height: 40.32px;
    letter-spacing: -0.5px;
  }

  h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30.24px;
  }

  h4 {
    font-size: 18px;
    line-height: 22.68px;
  }

  p {
    font-size: 15px;
    font-weight: 300;
    line-height: 18.9px;
  }
}

input {
  background: transparent;
  border: 0;
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  line-height: 18.9px;
  color: #fff;
  width: 100%;
  cursor: pointer;
  caret-color: #fc4747;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input:focus {
  outline: none;
}

.basic-movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 24px;
}
