@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background: #10141e;
  color: #fff;
}

h1 {
}

h2 {
  font-size: 20px;
  font-weight: 300;
  line-height: 25.2px;
  letter-spacing: -0.31px;
}

h3 {
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
}

h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

p {
  font-size: 11px;
  font-weight: 300;
  line-height: 14px;
}

input {
  background: transparent;
  border: 0;
  font-size: 1rem;
  width: 100%;
  font-family: 'Outfit', sans-serif;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input:focus {
  outline: none;
}

.basic-movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 24px;
}
